<div class="screen">
  <div id="menu-nav-bar">
    <mat-toolbar>
      <mat-toolbar-row>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="header-container"
        >
          <div>
            <span class="menu-header"
              >Тренировки и Здоровье Позвоночника и Суставов</span
            >
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- GRID LIST -->
    <mat-grid-list cols="1" rowHeight="16:9">
      <mat-grid-tile
        ><img src="assets/images/spine.jpg" alt="powerful spine" />
      </mat-grid-tile>
    </mat-grid-list>

    <!-- NAV-BAR -->
    <mat-toolbar>
      <mat-toolbar-row>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="width: 100%"
        >
          <div>
            <span class="menu-subheader">Результаты Опроса</span>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <!-- LIST -->
  <div *ngIf="questionnaire$ | async as questionnaire" class="list-container">
    <mat-list>
      <mat-list-item matRipple (click)="goToRespondents()" class="menu-item">
        <h3 matLine>
          {{ questionnaire.respondents.respondents_header }}
        </h3>
        <p matLine>
          <span>{{ questionnaire.respondents.respondents_subheader }}</span>
        </p>
      </mat-list-item>
      <mat-list-item
        class="menu-item"
        *ngFor="let question of questionnaire.questions"
        matRipple
        (click)="goToQuestionDisplay(question)"
      >
        <h3 matLine>Вопрос &#8470;{{ question.question_id }}</h3>
        <p matLine>
          <span> {{ question.question_text }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
