<!-- <mat-progress-bar
  *ngIf="loadingService.loading$ | async"
  mode="indeterminate"
  color="warn"
  class="progress-bar"
>
</mat-progress-bar> -->
<div class="menu-container">
  <!-- <ng-container *ngIf="!deviceDetectorService.isMobile()"> -->
  <mat-toolbar>
    <mat-toolbar-row>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="header-container"
      >
        <div>
          <span class="header"
            >Тренировки и Здоровье Позвоночника и Суставов</span
          >
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- GRID LIST -->
  <mat-grid-list cols="1" rowHeight="16:9">
    <mat-grid-tile
      ><img src="assets/images/spine.jpg" alt="powerful spine" />
    </mat-grid-tile>
  </mat-grid-list>

  <!-- NAV-BAR -->
  <mat-toolbar>
    <mat-toolbar-row>
      <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%">
        <div>
          <span class="subheader">Результаты Опроса</span>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- QUESTIONS -->
  <div *ngIf="(questionnaireService.questionnaireSubDataj$ | async).data">
    <mat-list>
      <mat-list-item matRipple (click)="goToRespondents()">
        <h3 matLine>
          {{ (questionnaireService.questionnaireSubDataj$ | async).data.title }}
        </h3>
        <p matLine>
          <span>{{
            (questionnaireService.questionnaireSubDataj$ | async).data.subtitile
          }}</span>
        </p>
      </mat-list-item>
      <mat-list-item
        *ngFor="
          let q of (questionnaireService.questionnaireSubDataj$ | async)
            .questionnaire.questions
        "
        matRipple
        (click)="goToQuestionDisplay(q)"
      >
        <h3 matLine>Вопрос &#8470;{{ q.question_id }}</h3>
        <p matLine>
          <span> {{ q.question_text }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
