<ng-container *ngIf="this.questionDisplay$ | async as qd">
  <ng-container *ngIf="qd !== null">
    <app-nav-bar [questionDisplay]="qd"></app-nav-bar>
  </ng-container>
  <div class="menu-container">
    <div
      fxLayout.xs="column"
      fxLayout="raw wrap"
      fxLayoutAlign.xs="center center"
      fxLayoutAlign="space-between center"
      fxLayoutGap.xs="20px"
    >
      <ng-container *ngIf="qd !== null">
        <app-mongodb-chart
          class="lg-chart"
          *ngFor="let chart of qd.charts"
          [width]="chart.width"
          [height]="chart.height"
          [scr]="chart.chart_id"
        >
        </app-mongodb-chart>
      </ng-container>
    </div>
  </div>
</ng-container>
