<ng-container *ngIf="this.ratingDisplayView$ | async as ratingDisplayView">
  <ng-container *ngIf="ratingDisplayView.question !== null">
    <app-nav-bar [questionDisplay]="ratingDisplayView.question"></app-nav-bar>
  </ng-container>
  <div class="menu-container">
    <div
      fxLayout.xs="column"
      fxLayout="raw wrap"
      fxLayoutAlign.xs="center center"
      fxLayoutAlign="space-between center"
      fxLayoutGap.xs="20px"
    >
      <ng-container *ngFor="let dataSource of ratingDisplayView.ratingDisplays">
        <app-rating-table
          [dataSource]="dataSource"
          style="width: 90%"
        ></app-rating-table>
      </ng-container>
    </div>
  </div>
</ng-container>
