/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 959px) {
  /* Styles */

  .rating-table {
    width: 90%;
  }
}

@media only screen and (min-device-width: 959px) and (max-device-width: 1279px) {
  .rating-table {
    width: 80%;
  }
}
@media only screen and (min-device-width: 1280px) and (max-device-width: 5000px) {
  .rating-table {
    width: 80%;
  }
}
