<mat-progress-bar
  *ngIf="loadingService.loading$ | async"
  mode="indeterminate"
  color="warn"
  class="progress-bar"
>
</mat-progress-bar>

<div class="menu-item">
  <mat-card
    matRipple
    class="nav-bar mat-elevation-z8"
    fxLayout="row"
    fxLayoutAlign="start center"
    (click)="goHome()"
  >
    <!-- <div *ngIf="!deviceDetector.isMobile()">
      <mat-icon class="nav-icon" (click)="goHome()">foundation</mat-icon>
    </div> -->
    <!-- QUESTION -->
    <ng-container *ngIf="question">
      <div>
        <span class="nav-bar-title"
          >Вопрос &#8470;{{ question.question_id }}</span
        >
        <span class="nav-bar-subtitle">
          {{ question.question_text }}
        </span>
      </div>
    </ng-container>

    <!-- REPONDENTS -->
    <ng-container *ngIf="respondents">
      <div>
        <span class="nav-bar-title">
          {{ respondents.respondents_header }}
        </span>
      </div>
    </ng-container>
  </mat-card>
</div>
