<ng-container *ngIf="question$ | async as question">
  <app-nav-bar [question]="question"></app-nav-bar>
</ng-container>

<div class="menu-container">
  <div>
    <app-text-answer-card
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="250"
      [scrollWindow]="true"
      (scrolled)="onScroll()"
      *ngFor="let answer of textAnswerQuestions; let i = index"
      [textAnswerQuestion]="answer"
      [index]="collectionTotalCount - i - 1"
    ></app-text-answer-card>
  </div>
</div>
