<mat-card>
  <mat-card-header>
    <mat-card-subtitle
      >#{{ index + 1 }}
      <img [src]="textAnswerQuestion.flag_url" alt="flag" />
      {{ textAnswerQuestion.country }}/
      {{ textAnswerQuestion.city }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    {{ textAnswerQuestion.question_text_answer }}
  </mat-card-content>
  <mat-card-actions style="text-align: right; font-weight: 300">
    <i> {{ textAnswerQuestion.creation_date_string }}</i>
  </mat-card-actions>
</mat-card>
