/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 959px) {
  /* Styles */
  .header-container {
    width: 100vw;
  }

  .list-container {
    padding-bottom: 30px;
  }

  .data-table {
    width: 100vw;
  }

  .nav-bar {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    width: 100vw;
  }

  .rating-table {
    width: 90%;
  }
  .text-container {
    width: 100vw;
  }
  .text-card {
    width: 100vw;
  }
  .screen {
    padding-bottom: 150px;
  }
}

@media only screen and (min-device-width: 959px) and (max-device-width: 1279px) {
  /* Styles */
  .header-container {
    width: 100vw;
  }

  .list-container {
    padding-bottom: 30px;
  }

  .data-table {
    width: 80vw;
  }

  .nav-bar {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    width: 100vw;
  }

  .rating-table {
    width: 80%;
  }

  .text-container {
    width: 100vw;
  }
  .text-card {
    width: 95vw;
  }
  .screen {
    padding-bottom: 150px;
  }
}
