/* CHARTS MOBILE PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width: 412px) {
  .chart {
    background: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
      0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    width: 100vw;
    height: 90vh;
  }
}

/* CHARTS MOBILE LANDSCAPE */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .chart {
    background: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
      0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .chart {
    background: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
      0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    width: 100vw;
    height: 50vh;
  }
}
