/* iPhone 5SE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .menu-header {
    font-size: 0.62em;
  }
  .menu-subheader {
    font-size: 0.62em;
  }

  .nav-bar-title {
    font-size: 1.1em;
    font-weight: 500;
  }
  .nav-bar-subtitle {
    font-size: 16px;
    font-weight: 300;
  }
}

/*Samsung Galaxy S*/
@media only screen and (min-device-width: 360px) and (max-device-width: 410px) {
  .menu-header {
    font-size: 14px;
  }
  .menu-subheader {
    font-size: 14px;
  }

  .nav-bar-title {
    font-size: 18px;
    font-weight: 500;
  }
  .nav-bar-subtitle {
    font-size: 16px;
    font-weight: 300;
  }
}

/* iPhone Plus */
@media only screen and (min-device-width: 411px) and (max-device-width: 415px) {
  .menu-header {
    font-size: 16px;
  }
  .menu-subheader {
    font-size: 16px;
  }

  .nav-bar-title {
    font-size: 19px;
    font-weight: 500;
  }
  .nav-bar-subtitle {
    font-size: 17px;
    font-weight: 300;
  }
}

/* Mobile Portraits*/
@media only screen and (min-device-width: 415px) and (max-device-width: 959px) {
  .menu-header {
    font-size: 20px;
  }
  .menu-subheader {
    font-size: 18px;
  }

  .nav-bar-title {
    font-size: 18px;
    font-weight: 500;
  }
  .nav-bar-subtitle {
    font-size: 16px;
    font-weight: 300;
  }
}
