<h1 mat-dialog-title>Привет</h1>
<div mat-dialog-content>
  <ul>
    <li>
      Графики маскимально адаптированы для экранов мобильных устройств, но
      некоторые из них лучше смотрятся на экранах больших размеров.
    </li>
    <li>Используйте ландшафтный режим для большей наглядности!</li>
    <li>"Кликайте" графики для получения дополнительной иформации!</li>
  </ul>

  <div class="v-align-middle">
    <mat-checkbox
      labelPosition="before"
      [(ngModel)]="checked"
      [checked]="checked"
      ><span style="font-size: 11px; font-weight: 300"
        ><i>больше не показывать</i></span
      >
    </mat-checkbox>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="checked">Ok</button>
</div>
