/* You can add global styles to this file, and also import other style files */
@import "./media-queries/320px-1279px.css";
@import "./media-queries/1280px-5000px.css";
@import "./media-queries/fonts.css";
@import "./media-queries/charts.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.chbx-section {
  width: 100%;
  height: 50px;
}

.mat-card {
  border-radius: 0px !important;
}
.menu-item:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.list-container {
  padding-bottom: 30px;
}
.custom-modalbox > mat-dialog-container {
  background-color: #ac5c7f;
  color: whitesmoke;
}
.v-align-middle {
  vertical-align: middle;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 766px) {
  .tooltip {
    position: fixed;
    outline: none;
    right: 40px;
    bottom: 20px;
  }
}
