/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.chart {
  background: #ffffff;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.chbx-section {
  width: 100%;
  height: 50px;
}

.w-40 {
  max-width: 40px;
}

/* NEW STYLES - SMALL SCREENS */
@media screen and (max-width: 499px) {
  .small-column {
    max-width: 40px;
  }
  .data-table {
    width: 100vw;
  }
  .menu-container {
    width: 100vw;
  }
  .toolbar {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .main-toolbar {
    margin-bottom: 25px;
    width: 100%;
  }
  .header {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
  }
  .subheader {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
  }
  .header-container {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .header {
    font-size: 0.93rem;
    font-weight: 500;
    width: 100%;
  }
  .subheader {
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
  }
}

@media screen and (max-width: 363px) {
  .header {
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
  }
  .subheader {
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .header {
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
  }
  .subheader {
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
  }
}

/* NEW STYLES - LARGE SCREENS */
@media screen and (min-width: 500px) {
  .small-column {
    max-width: 70px;
  }
  .data-table {
    width: 80vw;
  }
  .large-container {
    width: 80vw;
  }
  .mat-list-item:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
  }
  .menu-container {
    width: 80vw;
    margin: 0 auto;
  }

  .main-toolbar {
    margin-bottom: 40px;
  }
  .header {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
  }
  .subheader {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
  }
  .header-container {
    width: 100%;
  }
}
