/* You can add global styles to this file, and also import other style files */
@import "./media-queries/320-959.css";
@import "./media-queries/fonts.css";
@import "./media-queries/charts.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.chbx-section {
  width: 100%;
  height: 50px;
}

.mat-card {
  border-radius: 0px !important;
}
.nav-icon:hover {
  cursor: pointer;
}
.list-container {
  padding-bottom: 30px;
}
