<div class="screen" #charts>
  <ng-container *ngIf="question">
    <div fxLayout="column" fxLayoutAlign="center center">
      <app-nav-bar [question]="question"></app-nav-bar>
    </div>
    <ng-container *ngIf="question !== null">
      <div
        fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center"
        fxLayoutGap.lt-lg="25px"
        fxLayout.gt-md="row wrap"
        fxLayoutAlign.gt-md="space-between"
        #chars
      >
        <app-mongodb-chart
          *ngFor="let chart of question.question_charts"
          [scr]="chart.id"
          [chartClass]="chart.ngClass"
        >
        </app-mongodb-chart>
      </div>
    </ng-container>
    <ng-container *ngIf="deviceDetectorService.isMobile()"
      ><app-button-down [elementHeight]="elementHeight"></app-button-down
    ></ng-container>
  </ng-container>
</div>
