<ng-container *ngIf="questionnaire$ | async as questionnaire">
  <div class="menu-container">
    <app-nav-bar [respondents]="questionnaire.respondents"></app-nav-bar>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap.lt-md="25px"
    >
      <app-data-table></app-data-table>

      <div
        fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="center center"
        fxLayoutGap.lt-md="25px"
      >
        <app-mongodb-chart
          *ngFor="let chartId of questionnaire.respondents.respondents_charts"
          [scr]="chartId"
        ></app-mongodb-chart>
      </div>
      <app-mongodb-chart
        [scr]="questionnaire.respondents.respondents_map_chart"
      ></app-mongodb-chart>
    </div>
  </div>
</ng-container>
