<ng-container *ngIf="questionnaire$ | async as questionnaire">
  <div class="menu-container">
    <app-nav-bar [respondents]="questionnaire.respondents"></app-nav-bar>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="40px"
      fxLayoutGap.xs="20px"
    >
      <app-data-table></app-data-table>

      <div
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        fxLayoutAlign.xs="center center"
        class="large-container"
        fxLayoutGap.xs="20px"
      >
        <app-mongodb-chart
          *ngFor="let chartId of questionnaire.respondents.respondents_charts"
          [scr]="chartId"
        ></app-mongodb-chart>
      </div>
      <app-mongodb-chart
        [scr]="questionnaire.respondents.respondents_map_chart"
      ></app-mongodb-chart>
    </div>
  </div>
</ng-container>
